### Objectif : Lire les 3 fichiers à l’aide de modules python et stocker les informations dans des objet DataFrame

In [1]:
import pandas as pd
from simpledbf import Dbf5

**Lire le csv**

In [2]:
df = pd.read_csv(r"ressources\mar2012.csv",  dtype={'DEPDOM':'object'})
print(df)

        ANAISH DEPNAISH  INDNATH  ETAMATH  ANAISF DEPNAISF  INDNATF  ETAMATF  \
0         1982       75        1        1    1984       99        2        1
1         1956       69        2        4    1969       99        2        4
2         1982       99        2        1    1992       99        1        1
3         1985       99        2        1    1987       84        1        1
4         1968       99        2        1    1963       99        2        1
...        ...      ...      ...      ...     ...      ...      ...      ...
246118    1948       99        1        4    1955       27        1        1
246119    1961       99        1        4    1976       99        2        1
246120    1963       60        1        4    1970      971        1        4
246121    1973       99        2        1    1985      971        1        1
246122    1980       99        2        1    1982       90        1        1

        AMAR  MMAR  JSEMAINE DEPMAR DEPDOM  TUDOM TUCOM NBENFCOM
0       2012     1         1     29     99      9   NaN        N
1       2012     1         3     75     99      9   NaN        N
2       2012     1         5     34     99      9   NaN        N
3       2012     1         4     13     99      9   NaN        N
4       2012     1         6     26     99      9   NaN        N
...      ...   ...       ...    ...    ...    ...   ...      ...
246118  2012    12         6    978    978      9     P        N
246119  2012    12         6    978    978      9     P        O
246120  2012    12         5    978    978      9     P        N
246121  2012    12         5    978    978      9     P        N
246122  2012    12         5    978    978      9     P        N

[246123 rows x 16 columns]

**Lire le fichier txt**

In [5]:
df2 = pd.read_csv(r"ressources\prima.txt", sep='\t')
print(df2)

     pregnant  glucose  diastolic  triceps  insulin   bmi  diabetes  age  test
0           6      148         72       35        0  33.6     0.627   50     1
1           1       85         66       29        0  26.6     0.351   31     0
2           8      183         64        0        0  23.3     0.672   32     1
3           1       89         66       23       94  28.1     0.167   21     0
4           0      137         40       35      168  43.1     2.288   33     1
..        ...      ...        ...      ...      ...   ...       ...  ...   ...
763        10      101         76       48      180  32.9     0.171   63     0
764         2      122         70       27        0  36.8     0.340   27     0
765         5      121         72       23      112  26.2     0.245   30     0
766         1      126         60        0        0  30.1     0.349   47     1
767         1       93         70       31        0  30.4     0.315   23     0

[768 rows x 9 columns]

**Lire le dbf**

In [6]:
dbf = Dbf5(r"ressources\mar2012.dbf")
df3 = dbf.to_dataframe()
print(df3)

       ANAISH DEPNAISH INDNATH ETAMATH ANAISF DEPNAISF INDNATF ETAMATF  AMAR  \
0        1982       75       1       1   1984       99       2       1  2012
1        1956       69       2       4   1969       99       2       4  2012
2        1982       99       2       1   1992       99       1       1  2012
3        1985       99       2       1   1987       84       1       1  2012
4        1968       99       2       1   1963       99       2       1  2012
...       ...      ...     ...     ...    ...      ...     ...     ...   ...
246118   1948       99       1       4   1955       27       1       1  2012
246119   1961       99       1       4   1976       99       2       1  2012
246120   1963       60       1       4   1970      971       1       4  2012
246121   1973       99       2       1   1985      971       1       1  2012
246122   1980       99       2       1   1982       90       1       1  2012

       MMAR JSEMAINE DEPMAR DEPDOM TUDOM TUCOM NBENFCOM
0        01        1     29     99     9   NaN        N
1        01        3     75     99     9   NaN        N
2        01        5     34     99     9   NaN        N
3        01        4     13     99     9   NaN        N
4        01        6     26     99     9   NaN        N
...     ...      ...    ...    ...   ...   ...      ...
246118   12        6    978    978     9     P        N
246119   12        6    978    978     9     P        O
246120   12        5    978    978     9     P        N
246121   12        5    978    978     9     P        N
246122   12        5    978    978     9     P        N

[246123 rows x 16 columns]